<div class="outer">
  <div *ngFor="let i of img">
    <!--   [ngClass] = "i % 3 == 0 ? class1: calass2" -->
    <mat-card class="example-card" (click)="doStuff(i.productName)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{i.productName}}</mat-card-title>
        <mat-card-subtitle>{{i.description}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <!-- <mat-card-content>
        Demo
      </mat-card-content> -->
      <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
    </mat-card>
  </div>
</div>


