<div class="container chat-bot-container master_wrapper" >
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span>
        </div>
        <div #scrollMe class="panel-body" [scrollTop]="scrollMe.scrollHeight">
          <ul class="chat">
            <div *ngFor="let chat of chats; let i = index; let last = last">
              <li>
                <div *ngIf="chat.type==='USER'; else rightchat">
                  <div class="chat-body clearfix" style="text-align: right;">
                    <mat-card class="card1 user">
                      <mat-card-content>
                        {{ chat.date | date: 'medium'}}
                        <p [innerHtml]="chat.message | transformToHtmlPipe"></p>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
                <ng-template #rightchat>
                  <div style="" id="bot_div_id" class="account-info-container">

                    <mat-card class="card2">
                      <mat-card-content class="bot">
                        {{chat.date | date: 'medium' }}
                        <p style="margin-left: 1px;" [innerHtml]="chat.message | transformToHtmlPipe"></p>
                      </mat-card-content>
                      <div *ngIf="chat.botOptions">
                        <mat-card-content class="bot" *ngFor="let options of chat?.botOptions; let optionIndex = index">
                          <div class="account-info">
                              <button mat-raised-button color='primary' (click)="botOptionsParams(options?.buttonName)"
                              id='options{{optionIndex}}'>{{options?.buttonName}}</button>
                          </div>
                        </mat-card-content>
                      </div>
                      <div *ngIf="chat.showButtonOption">
                        <h5 style="color: blue">Would you like to open {{optionProductName}} account?</h5>
                        <button (click)="yesResponse()" class="btn btn-primary">yes</button>
                        <button (click)="noResponse()" class="btn btn-danger">no</button>
                      </div>
                    </mat-card>
                  </div>
                </ng-template>
              </li>
            </div>
          </ul>
        </div>
        <div class="panel-footer">
          <form (ngSubmit)="onSubmit()" #msgForm="ngForm"><br>
            <div class="input-group">
              <!-- Is Disabled: {{isDisabled}} -->
              <input id="btn-input" #messageBox type="text" [(ngModel)]="req" name="userMessage"
                class="form-control input-lg" placeholder="Write a reply..." required="" style="width: 100%;"
                [disabled]="isDisabled" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--<app-products></app-products>-->
</div>
<!-- <app-login></app-login> -->

<!-- Login modal begin -->

<ng-template #content let-modal *ngIf="count == 0">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User Login</h4>
    <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  #myForm="ngForm" [formGroup]="loginForm"  >
      <div  class="form-group">
        <label for="username">Username</label>
        <div  class="input-group">
          <input type="username" class="form-control" placeholder="Enter Username" formControlName="username"
             id="usernameId" required>
        </div>
        <p *ngIf="loginForm.controls.username.errors?.required  && loginForm.controls.username.touched">Username
          required</p>
      </div>
      <div  class="form-group">
        <label for="password">Password</label>
        <div  class="input-group">
          <input type="password" class="form-control" placeholder="Enter Password" formControlName="password"
             id="passwordId" required>
        </div>
        <p *ngIf="loginForm.controls.password.errors?.required  && loginForm.controls.password.touched">Password
          required</p>
      </div>
      <div  class="modal-footer">
        <button  type="submit" (click)="login(); modal.close('Save click')"  class="btn btn-success"
          [disabled]="!loginForm.valid">Login
        </button>
      </div>
    </form>
  </div>
</ng-template>
<!-- Login Modal End -->

<ng-template #mobileNumber let-modal *ngIf="count == 0">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Glad to assist you. Please enter your registered 10 digit mobile
      number.</h4>
    <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  #myForm="ngForm" [formGroup]="mobileOtpForm" *ngIf="!isNumberSubmitted"  >
      <div class="form-group">
        <label for="username">Mobile number</label>
        <div  class="input-group">
          <input type="username" class="form-control" placeholder="Enter Registere Mobile
            Number" formControlName="username"  id="usernameId" required>
        </div>

      </div>
      <div  class="modal-footer">
        <button  type="submit" (click)="submitNumber()"  class="btn btn-success">Submit
        </button>
      </div>

    </form>
    <form #myForm="ngForm" [formGroup]="OtpForm">
      <div *ngIf="isNumberSubmitted">
        <label for="otp">OTP</label>
        <div  class="input-group">
          <input type="otp" class="form-control" placeholder="Enter OTP" formControlName="otp"  id="usernameId"
            required>
        </div>

      </div>
      <div class="modal-footer" *ngIf="isNumberSubmitted">
        <button  type="submit" (click)="submitNumber(); modal.close('Save click')"  class="btn btn-success">Submit
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Data View Modal Begin -->
<ng-template #data let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Account Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="userData!=null" style="background-color: rgb(212, 232, 248)">
    <div class="table">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tbody>
        <tr>
          <td>Account Number :</td>
          <td>{{id}}</td>
        </tr>
        <tr>
          <td>Account Holder Name :</td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td>Available Balance :</td>
          <td>{{balance}}</td>
        </tr>
      </tbody>
    </div>
  </div>
  <div  class="modal-footer">
    <button (click)="modal.close('Save click')"  class="btn btn-danger">Close</button>
  </div>
</ng-template>
<!-- Data View Modal End -->

<ng-template #sfonds let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">would you like to open sFonds Accont?</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div align="center" class="modal-btn">
    <button (click)="yesResponse(); modal.dismiss('Cross click')" class="btn btn-primary">Yes</button> &nbsp;
    <button (click)="modal.dismiss('Cross click')" class="btn btn-danger">No</button>
    <p>

    </p>
  </div>
</ng-template>

<!-- Update Account and Address Details -->
<ng-template #update let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update User</h4>
    <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  #myUpdateForm="ngForm" [formGroup]="updateAddressData">
      <div  class="form-group">
        <label for="userId">User Id</label>
        <div  class="input-group">
          <input type="text" class="form-control" formControlName="userId"  id="userId" required>
        </div>
        <p *ngIf="updateAddressData.controls.userId.errors?.required  && updateAddressData.controls.userId.touched">
          Account Number
          Required</p>
      </div>
      <div  class="form-group">
        <label for="name">Full Name</label>
        <div  class="input-group">
          <input type="text" class="form-control" formControlName="name"  id="name" required>
        </div>
        <p *ngIf="updateAddressData.controls.name.errors?.required  && updateAddressData.controls.name.touched">Name
          Required</p>
      </div>
      <div  class="form-group">
        <label for="addressLine1">Address Line 1</label>
        <div  class="input-group">
          <input type="text" class="form-control" formControlName="addressLine1"  id="addressLine1" required>
        </div>
        <p class="help-block">Street address, P.O. box, company name, c/o</p>
        <p
          *ngIf="updateAddressData.controls.addressLine1.errors?.required  && updateAddressData.controls.addressLine1.touched">
          Address Line 1
          Required</p>
      </div>
      <div  class="form-group">
        <label for="addressLine2">Address Line 2</label>
        <div  class="input-group">
          <input type="text" class="form-control" formControlName="addressLine2"  id="addressLine2" required>
        </div>
        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
        <p
          *ngIf="updateAddressData.controls.addressLine2.errors?.required  && updateAddressData.controls.addressLine2.touched">
          Address Line 2
          Required</p>
      </div>
      <div  class="form-group">
        <label for="city">City / Town</label>
        <div  class="input-group">
          <input type="text" class="form-control" formControlName="city"  id="city" required>
        </div>
        <p *ngIf="updateAddressData.controls.city.errors?.required  && updateAddressData.controls.city.touched">City
          Required</p>
      </div>
      <div  class="form-group">
        <label for="state">State</label>
        <div  class="input-group">
          <input type="text" class="form-control" formControlName="state"  id="state" required>
        </div>
        <p *ngIf="updateAddressData.controls.state.errors?.required  && updateAddressData.controls.state.touched">State
          Required</p>
        <div  class="form-group">
          <label for="zipcode">Country</label>
          <div  class="input-group">
            <input type="text" class="form-control" formControlName="country"  id="country" required>
          </div>
          <p *ngIf="updateAddressData.controls.country.errors?.required  && updateAddressData.controls.country.touched">
            Country
            Required</p>
        </div>
      </div>
      <div  class="form-group">
        <label for="zipcode">Zipcode</label>
        <div  class="input-group">
          <input type="number" class="form-control" formControlName="zipcode"  id="zipcode" required>
        </div>
        <p *ngIf="updateAddressData.controls.zipcode.errors?.required  && updateAddressData.controls.zipcode.touched">
          Zipcode
          Required</p>
      </div>
      <!-- [disabled]="!updateAddressData.valid" -->
      <div  class="modal-footer">
        <button  type="submit" (click)="updateUserAddress(); modal.close('Save click')"  class="btn btn-success"
          [disabled]="!updateAddressData.valid">Update
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!--Address Data View Modal Begin -->
<ng-template #addressData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Updated Customer Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="userData!=null" style="background-color: rgb(212, 232, 248)">
    <div class="table">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tbody>
        <tr>
          <td> User Id :</td>
          <td>{{responseData.result.id}}</td>
        </tr>
        <tr>
          <td>Customer Name :</td>
          <td>{{responseData.result.name}}</td>
        </tr>
        <tr>
          <td> Address 1 :</td>
          <td>{{responseData.result.addressLine1}}</td>
        </tr>
        <tr>
          <td>Address 2 :</td>
          <td>{{responseData.result.addressLine2}}</td>
        </tr>
        <tr>
          <td>City / Town :</td>
          <td>{{responseData.result.city}}</td>
        </tr>
        <tr>
          <td>State :</td>
          <td>{{responseData.result.state}}</td>
        </tr>
        <tr>
          <td>Country :</td>
          <td>{{responseData.result.country}}</td>
        </tr>
        <tr>
          <td>Zipcode :</td>
          <td>{{responseData.result.zipcode}}</td>
        </tr>
      </tbody>
    </div>
  </div>
  <div  class="modal-footer">
    <button (click)="modal.close('Save click')"  class="btn btn-danger">Close</button>
  </div>
</ng-template>
<!-- Address Data View Modal End -->


<!-- <div class="outer">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Login Confirmation</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-actions>
        <button mat-button>Cancle</button>
        <button mat-button>OK</button>
      </mat-card-actions>
      </mat-card>
    </div>
  </div> -->